.logo-field{
    width: 6rem;
    height: 4rem;
    border-radius: 1rem;
    margin-left: 4rem;
    overflow: hidden;
}

.logo-field img{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}