

#contact{
    background-color: black;
    width: calc(100vw-19.2rem);
    height: 100vh;
    overflow-x: hidden;
}


#contact .container{
    width: 100%;
    padding: 5rem;
}

#contact .container .contactHeading{
    display: flex;
    flex-direction: column;
}

#contact .container .contactHeading .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#contact .container .contactHeading .header h1{
    color: white;
    font-size: 3.2rem;
    font-weight: bold;
    text-decoration:.2rem .2rem .2rem black;
}

#contact .container .contactHeading .header span{
    color: white;
    font-size: 3.84rem;
    font-weight: bold;
    text-decoration:.2rem .2rem .2rem black;
}


#contact .container .contactHeading .line{
    border-top-style: dashed;
    border-color: #dad5d1;
    width: 100%;
    margin-top: .2rem;

}

/* ************* */

#contact .container .contactContent{
    display: flex;
    flex-direction: column;
    margin: 4.8rem;
}

#contact .container .contactContent .contactBody{
    padding-bottom: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 #contact .container .contactContent .contactBody h2{
    font-size: 2.88rem;
    color: #acfdac;
    text-transform: uppercase;
    position: relative;
    border-bottom: .2rem solid rgba(255, 255, 255, 0.6);
    border-color: #58caca !important;
 }

 #contact .container .contactContent .contactBody h2::before{
    position: absolute;
    content: "";
    width: .2rem;
    left: 0;
    height: .5rem;
    background-color: #58caca !important;
    bottom: 0;
 }

 #contact .container .contactContent .contactBody h2::after{
    position: absolute;
    content: "";
    width: .2rem;
    right: 0;
    height: .5rem;
    background-color: #58caca !important;
    bottom: 0;
 }

 #contact .container .contactContent .contactBody .rowone{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 3.2rem 0;
}

#contact .container .contactContent .contactBody .rowtwo{
    padding: 3rem 9.6rem;
}


#contact .container .contactContent .contactFooter{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 2rem;
}


#contact .container .contactContent .contactFooter .footerText{
    color: #807575;
    display: flex;
    flex-direction: column;
    width: 33.6rem;
    text-align: center;
    font-size: 1.3rem;
}

#contact .container .contactContent .contactFooter p span{
    text-align: center;
    font-size: 2.56rem;
    color: white;
    padding-bottom: .32rem;
}

.sentMsg{
    display: grid;
    place-items: center;
    width: 100%;
    padding: 20rem 0;
}

.sentMsg h1{
    color: #af9f9f;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
}

.sentMsg h1 span{
    padding-left: 1rem;
}


@media screen and (max-width:1200px){
html{
    font-size: 55%;
}
#contact{
    width:calc(100vw - 20.6rem) !important;
    margin-left: 19.1rem !important;
}
}

@media screen and (max-width:1074px){
    html{
        font-size: 44%;
    }
    #contact{
        width:calc(100vw - 20.9rem) !important;
        margin-left: 18.8rem !important;
    }
    #contact .container .contactContent{
     
        margin: 8rem;
    }
    #contact .container .contactContent .contactFooter{
        padding-top: 9rem;
    }
    #contact .container .contactContent .contactFooter .footerText{
        font-size: 1.6rem;
    }
    }

@media screen and (max-width:991px){
    html{
        font-size: 33%;
    }
    #contact{
        width:calc(100vw - 28.5rem) !important;
        margin-left: 26rem !important;
    }
    #contact .container {
        padding: 14rem 5rem;
    }
    /* #contact .container .contactContent {
        margin-top: 20rem;
    } */
   
}


@media screen and (max-width:770px){
    html{
        font-size: 32%;
    }
    #contact .container .contactContent .contactBody {
        padding: 10.6rem 0;
    }
    #contact{
        margin-left: unset !important;
        width: 100% !important;
        height: calc(100vh - 10rem) !important;
    }
    #contact .container {
        padding: 14rem 0rem;
    }
    #contact .container .contactHeading {
        padding: 0 5rem;
    }
    #contact .container .contactContent .contactFooter .footerText {
        font-size: 1.2rem ;
    }
  
}

@media screen and (max-width:360px){
    #contact .container {
        padding: 14rem 0rem;
    }
    #contact .container .contactHeading {
        padding: 0 3rem;
    }
    #contact .container .contactContent .contactFooter {
         padding-top:unset;
    }
    #contact .container .contactContent .contactFooter .footerText {
        font-size: 1.1rem !important;
    }
    #contact .container .contactContent {
        margin:unset;
    }
    #contact .container .contactContent .contactBody {
        padding: 7.6rem 0;
    }
}